/* Global */

:root {
    --text-color: #fff;
    --links: #C1C1C1;
    --base-dark: #1A1A1A;
    --base-accent: #4FC3F7;
    --button-accent: #4FC3F7;
    --button-accent-active: #4fc2f7a5;
    --home-color: #fff;
    --info-title: #C1C1C1;
    --info: #A9A9A9;
}

html {
    font-size: 18px;
    /* font-family: "Poppins", serif; */
    color: var(--text-color);
}

body {
    background-color: var(--base-dark);
}

button {
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--button-accent);
}

button:hover:not(#nav-light-toggle, .project-button) {
    outline: 2px solid var(--button-accent);
    transform: scale(1.05);
    transition: 70ms;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

button:active:not(#nav-light-toggle, .project-button) {
    outline: 2px solid var(--button-accent-active);
}

.poppins {
    font-family: "Poppins", serif;
}

.montserrat {
    font-family: "Montserrat", serif;
}

.inter {
    font-family: "Inter", serif;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--text-color);
}

.title small {
    font-size: 0.78rem;
    font-weight: 600;
}

/* Theme Toggle */

.lightmode {
    --text-color: #484E53;
    --links: #050505;
    --base-dark: #E0E8F6;
    --accent: #4FC3F7;
    --button-accent: #484E53;
    --button-accent-active: #484e5371;
    --home-color: #000;
    --info-title: #484E53;
    --info: #484E53;
}

#nav-light-toggle img:last-child {
    display: none;
}

.lightmode #nav-light-toggle img:first-child {
    display: none;
}

.lightmode #nav-light-toggle img:last-child {
    display: block;
}

.lightmode #hero-content {
    background-image: none;
}

/* Header */

#head-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3.33rem auto 0;
}

/* Navigation */
nav {
    width: 74.5%;
}

#nav-home a{
    font-family: "Oleo Script", serif;
    font-size: 1.78rem;
    color: var(--home-color);
    text-decoration: none;
}

nav ul {
    width: 36.9%;
}

nav, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: var(--links);
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 500;
}

nav ul a:hover {
    color: var(--base-accent);
}

#nav-light-toggle {
    background-color: transparent;
    border: transparent;
}

#nav-contact-button button {
    border-radius: 0.5rem;
    padding: 0.67rem 0.89rem;
}

/* Hero */

#hero {
    height: 80vh;
}

#hero-content {
    background-image: url(/Images/backgroundNet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3.22rem auto;
    width: 68%;
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gradient-text {
    background: linear-gradient(to right, var(--base-accent), var(--text-color));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#developer {
    height: 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0.44rem;
}

#developer h1, #hero-content p {
    color: var(--text-color);
}

#developer h3 {
    font-size: 1.44rem;
    font-family: inherit;
    font-weight: 600;
}

#hero-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

#hero-content p {
    width: 77%;
    margin-bottom: 2.22rem;
    font-size: 1.056rem;
    line-height: 1.67rem;
}

#hero-content button {
    padding: 0.972rem 2.583rem;
    border-radius: 4.167rem;
    font-size: 1.125rem;
}

/* About Me */

#about-me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-content {
    width: 55%;
    max-height: 26.73rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#about-me-content p {
    max-height: 12.5rem;
    height: 100%;
    text-align: center;
    line-height: 1.389rem;
    color: var(--text-color);
}

#about-me-content button {
    font-size: 0.83rem;
    border-radius: 3.056rem;
    padding: 1.0278rem 3.11rem;
}

/* Projects */

#projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-content {
    max-width: 63.56rem;
    width: 100%;
    margin: auto;
}

#project-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.22rem;
}

#projects .card {
    max-height: 16.67rem;
    max-width: 19.72rem;
    height: 100%;
    width: 100%;
}

#projects .card img {
    width: 100%;
}

#projects .card figcaption {
    margin-top: 1.78rem;
    height: 3.72rem;
    display: flex;
    justify-content: space-between;
}

#projects .card p {
    color: var(--info-title);
    font-weight: 600;
    font-size: 1.11rem;
}

#projects .card small {
    color: var(--info);
    font-size: 0.78rem;
}

#projects .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects .card .btn-container {
    display: flex;
    align-items: flex-end;
}

#projects .card button {
    width: 2.11rem;
    height: 2.167rem;
    background-image: url(/Images/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 3.61rem;
}