/* Global */

:root {
    --base-color: #fff;
    --links: #C1C1C1;
    --base-dark: #1A1A1A;
    --accent: #4FC3F7;

}

html {
    font-size: 16px;
    font-family: "Poppins", serif;
    color: var(--base-color);
}

body {
    background-color: var(--base-dark);
}

#head-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop {
    font-family: "Poppins", serif;
}

.gradient-text {
    background: linear-gradient(to right, var(--accent), var(--base-color));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* Theme Toggle */

.darkmode {
    --base-color: #000;
    --links: #050505;
    --base-dark: #E0E8F6;
    --accent: #4FC3F7;
}

#nav-light-toggle img:last-child {
    display: none;
}

.darkmode #nav-light-toggle img:first-child {
    display: none;
}

.darkmode #nav-light-toggle img:last-child {
    display: block;
}

.darkmode #hero-content {
    background-image: none;
}

/* Header */

#head-container {
    margin: 3.75rem auto 0;
}

/* Navigation */
nav {
    width: 74.5%;
}

#nav-home a{
    font-family: "Oleo Script", serif;
    font-size: 2rem;
    color: var(--base-color);
    text-decoration: none;
}

nav ul {
    width: 36.9%;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: var(--links);
    text-decoration: none;
    font-family: "Montserrat", serif;
}

#nav-light-toggle {
    background-color: transparent;
    border: transparent;
}

#nav-contact-button button {
    border: 1px solid var(--accent);
    border-radius: 0.5625rem;
    background-color: transparent;
    color: var(--base-color);
    padding: 0.75rem 1rem;
}

/* Hero */

#hero {
    height: 80vh;
}

#hero-content {
    background-image: url(/Images/backgroundNet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3.625rem auto;
    width: 68%;
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#developer {
    height: 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

#developer h1, #hero-content p {
    color: var(--base-color);
}

#developer h3 {
    font-size: 1.625rem;
    font-family: inherit;
    font-weight: 500;
}

#hero-content h1 {
    font-size: 3.9375rem;
    font-weight: bold;
}

#hero-content p {
    width: 77%;
    margin-bottom: 2.5rem;
    font-size: 1.1875rem;
    line-height: 1.875rem;
}

#hero-content button {
    background-color: transparent;
    padding: 1.09375rem 2.90625rem;
    border: 1px solid var(--accent);
    border-radius: 4.6875rem;
    color: var(--base-color);
    font-size: 1rem;
}